*{
    margin: 0;
    padding: 0;
    box-sizing: bordex-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 15vh;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
}